
nav ul{
 list-style: none;
 }
nav li{
 float:left;
 list-style: none;
 }
nav li a{
 display:block;
}

nav li ul{
 display:none;
 height:auto;
 padding:0px;
 margin:0px;
 border:0px;
 position:absolute;
 width:200px;
 z-index:200;
 }

nav li:hover ul{
 display:block; 
 }

nav {
width: 991px;
height: 50px;
margin: auto;
padding: 0 0 0 0;
}
